:root {
  /* Colors variable */
  --PrimaryBlue: #ccf3ff;
  --SecondaryBlue: #00a2d4;
  --PrimaryBlack: #4e5152;
  --SecondaryBlack: #151717;
  --BorderGrey: #ececec;
  --ShadowGrey: #959697;
  --TextGrey: #fafafa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p {
  margin: 0;
}
